/*check again for unnecessary elements*/
ul.cat {
    margin:0px;
    padding:0px;
}

ul.cat li {
    display:inline;
    float:left;
    background-color: #ffffff;
    color: #111111;
    padding:7px 12px 7px 12px;
    margin-right:5px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor:pointer;
}

ul.cat li.active {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-bottom-color: #e6e6e6;
    margin-bottom:-1px;
    font-weight:bold;
}

ul.sub {
    margin:0px;
    padding:0px;
}

ul.sub li {
    display:inline;
    float:left;
    background-color: #939598;
    color: #ffffff;
    padding:7px 12px 7px 12px;
    margin-left:10px;
    margin-bottom:10px;
    cursor:pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.sub li.active {
    background-color: #f26522;
    color:#ffffff;
}
.domain-checker-container2 {
    border-radius: 10px;
    margin: 20px 0;
    padding: 0;
}
.domain-checker-bg2 {
    margin: 0;
    padding: 10px 0;
}
@media (max-width:991px) {
    #searchfield {
        width:600px;
    }
    div.well2 {
        margin-left:auto;
        margin-right:auto;
    }
    ul.cat li{
        display:block;
        float:left;
        width: 100%;
        text-align:center;
        background-color:#e6e6e6;
    }

    ul.cat li.active {
        border-width: 0px;
        font-weight: normal;
        margin-bottom: 0px;
        background-color:#f26522;
        color:#ffffff;
    }
}

@media (min-width:1200px) {
    #searchfield {
        width:750px;
    }
}

@media (max-width:1200px) {
    #searchfield {
        width:600px;
    }
}

@media (max-width:767px){
    #searchfield {
        width:250px;
    }
}

<!--  a  -->
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.checkboxarea {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.fa.fa-square-o.fa-check-square{
    position:absolute;
    font-size:22px;
    color: #00a850;
}
.clickable {
   cursor: pointer;
}
.click {
     cursor: pointer;
}
.viewWhois.added{
    color: #00a850;
    text-decoration: none;
}
a.viewWhois{
    color:#808080; !important;
    font-weight:bold;
    text-decoration: none;
    cursor: pointer;
}
.first-line .tld-zone {
    font-weight: bold;
    font-size: 15px;
    text-transform: lowercase;
}
.first-line .domain-label{
    font-weight: 500;
    color: #939598;
    line-height: 1.45;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 1px;
    text-transform: lowercase;
}
.fa.fa-square-o{
    position:absolute;
    font-size:22px;
    color: #939598;
}
.domain-label:hover {
    color: #f26522;
}
.domaininbox-backorder{
    width: 645px;
    text-align: left;
    font-size: 15px;
    padding: 20px 20px 10px;
    border: 3px solid #00a651;
    margin: 20px 8px;
    color: #000;
    line-height: 1.45;
}
.domainlabel {
    line-height: 38px;
    font-size: 20px;
}
.tldzone{
    font-weight: bold;
    font-size: 20px;
}
.action-button{
    background-color: #00a651;
    border: none;
    color: white;
    padding: 10px;
    float: right;
    font-size: 13px;
    min-width: 120px;
}
.renewalprice-of-domain{
    color: #939598;
}
.domaininbox-taken{
    width: 645px;
    text-align: left;
    font-size: 15px;
    padding: 20px 20px 10px;
    border: 3px solid #939598;
    margin: 20px 8px;
    color: #0033a0;
    line-height: 1.45;
}
.domaininbox-available{
    width: 645px;
    text-align: left;
    font-size: 15px;
    padding: 20px 20px 10px;
    border: 3px solid #00a651;
    margin: 20px 8px;
    color: #0033a0;
    line-height: 1.45;
}
.premium-label{
    color: #00b1df;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1.45;
}
.action-button-added{
    background-color: #939598;
    cursor: default;
}
.clicked .domain-label {
    padding-left: 30px;
    color: white;
}
.domain-label.available.added {
    color: #00a850;
}
.domain-label.available{
    font-weight: 500;
    color: #0033a0;
}
.tld-zone.available.added {
    font-weight: bold;
    color: #00a850;
}
.tld-zone.available{
    font-weight: bold;
    color: #0033a0;
}
div.second-line{
    margin-left: 30px;
}
span.renewal{
    font-size: 12px;
    color: #939598;
}
span.taken{
    color: #939598;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.first-line{
    color: #939598;
    font-weight: 700;
    text-transform: capitalize;
}
span.taken.added{
    color: #00a850;
}
.second-line.price{
    display: block;
    font-size: 80%;
    font-weight: bold;
    margin-left: 132px;
}
span.registerprice {
    font-size: 15px;
    color: #f26522;
    font-weight: 700;
}
span.spanelement{
    color: white;
}
.search-result-price {
    text-align: right; !important;
    /*margin-bottom: 30px;*/
}
.added {
    font-weight: bold;
    color: #00a850; !important;
}
.domain-label.added{
    color: #00a850; !important;
}
.row1{
    margin-left: 240px;
    margin-right: 240px;
}
.details.hide {
    display:none;
}
.registerprice.added{
    color: #00a850;
    text-align: justify
}
.available {
    font-size: 12px;
    color: #00a850;
    font-weight: 700;
    text-transform: uppercase;
}
.backorder.added{
    color: #00a850;
}
.backorder {
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    color: #0033a0;
}
.premium.added{
    color: #00a850 !important;
}
.premium {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: #00b1df;
}

.more {
    text-transform: capitalize;
}

.search-form {
  margin-top: 0;
}
.search-form .collapse-category .category-button {
  display: block;
}
.search-form {
  margin-top: 0px;
  position: relative;
}
.search-form .search-input-bar {
  margin-bottom: 10px;
}
.search-form .search-input-bar .input-group {
  color: #939598;
}
@media (max-width: 549px) {
  .search-form .search-input-bar .input-group {
    margin-bottom: 10px;
  }
}
.search-form .collapse-category {
  text-align: center;
  margin-bottom: 10px;
}
.search-form .collapse-category .category-button {
  padding: 0;
  margin: 0 auto;
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #939598;
}
.search-form .collapse-category .category-button i {
  font-size: 24px;
}
.search-form .collapse-category .category-button:hover {
  text-decoration: none;
}
.search-form .collapse-category .category-button:focus {
  text-decoration: none;
  outline: none;
}
.search-form .collapse-category .category-item {
  display: inline-block;
}
.search-form .collapse-category .category-item.continents {
  margin-top: 0;
  cursor: pointer;
}
.search-form .collapse-category .category-item.continents .category-label {
  margin-top: 0;
  cursor: pointer;
}

.search-form .collapse-category .category-item .category-label {
  font-size: 80%;
  font-weight: 600;
  margin-top: 10px;
}

.domainbox{
    margin-bottom:12px;
}

.clear{
    clear: both;
}
