<div class="domainbox clickable{{#row.isSearchString}} searchstring{{/row.isSearchString}}" id="{{row.PC}}">
  <div class="col-xs-7 search-result-info">
    <div class="first-line">
      <span class="checkboxarea"></span>
      <span class="domainname domain-label">{{row.domainlabel}}</span><span class="domainname tld-zone">{{row.extension}}</span>
    </div>
    <div class="second-line availability">
      <span></span>
    </div>
  </div>
  <div class="col-xs-5 search-result-price">
    <div class="second-line registerprice">
      <span>
        <i class="fas fa-sync fa-spin fa-spin-hexonet"></i>
      </span>
    </div>
    <div class="second-line renewalprice"></div>
  </div>
  <div class="col-xs-5 search-result-price details hide">
    <div class="second-line price">
      <span class="registerprice added"></span>
      <span class="renewalprice added"></span>
    </div>
  </div>
  <div class="clear"></div>
</div>