<div class="navbar-form">
    <div class="form-group">
        <label for="categoryinp">Category:</label> <input type="text" id="categoryinp" class="form-control" value=""/>
    </div>
    <div class="form-group checkbox">
        <label for="addunassignedtlds"><input type="checkbox" id="addunassignedtlds" value="1"/> Add all unassigned TLDs</label>
    </div>
</div>